extends layout

block content
	include header

	.row
		button.btn.btn-primary.btn-lg(type="button", data-toggle="modal", data-target="#addFolderModal") +
	.row
		.col-md-6
			
			ul
				each folder, index in folders
					li
						if index === 0
							div.folder.active-folder
								h3= folder.folder.name
								p #[i #{folder.folder.path}]
						else 
							div.folder
								h3= folder.folder.name
								p #[i #{folder.folder.path}]							
		.col-md-6
			button.btn.btn-primary.btn-lg(type="button", data-toggle="modal", data-target="#addTaskModal") +
			ul
				each folder in folders
					each task in folder.tasks
						li
							h4= task.name
							p #[i #{task.description}]
		.modal.modal-fade(id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskLabel")
			.modal-dialog(role="document")
				.modal-content
					.container-fluid
						.row
							.modal-header
								.button(type="button" class="close" data-dismiss="modal" aria-label="Close")
									span(aria-hidden="true") &times;
								h4.modal-title(id="addTaskLabel") New Task
						.row
							.modal-body
								.row
									.col-md-10
										input(type="text" id="taskName" placeholder="Name")
								.row
									.col-md-10
										input(type="text" id="taskDescription" placeholder="Description").col-md-11
								.row
									.col-md-10
										input(type="text" id="taskInterval" placeholder="Interval").col-md-11
								.row
									.col-md-9
										span.col-md-2
											p
												| Match
										select.col-md-4(id="taskMatch")
											option(value="all") All
											option(value="any") Any
										span.col-md-4
											p
												| rule/s
								.row
									.col-md-3
										button(role="button" id="addRule") Add rule
								.row
									ul(id="ruleList")

						.row
							.modal-footer
								button.btn.btn-default(type="button" data-dismiss="modal") Close
								button.btn.btn-primary(type="button" id="taskSave") Save Changes
		.modal.modal-fade(id="addFolderModal" tabindex="-1" role="dialog" aria-labelledby="addFolderLabel")
			.modal-dialog(role="document")
				.modal-content
					.container-fluid
						.row
							.modal-header
								.button.close(type="button" data-dismiss="modal" aria-label="Close")
									span(aria-hidden="true") &times;
								h4.modal-title(id="addFolderLabel") New Folder
						.row
							.modal-body
								.row
									.col-md-10
										input(type="text" id="folderName" placeholder="Relative path to folder").col-md-12

						.row
							.modal-footer
								button.btn.btn-default(type="button" data-dismiss="modal") Close
								button.btn.btn-primary(type="button" id="folderSave") Save Changes